<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Trade:</strong>
    <%= item.trade_id %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= item.area_id %>
  </p>

  <p>
    <strong>Expansion:</strong>
    <%= item.expansion_id %>
  </p>

  <p>
    <strong>Fprice:</strong>
    <%= item.fprice %>
  </p>

  <p>
    <strong>Fdescript:</strong>
    <%= item.fdescript %>
  </p>

</div>
