

<div class="container-fluid p-0">
  <nav class="navbar  navbar-expand-lg bg-light  fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">

        <img src="<%= image_path('aigradinga.png') %>" style="width:120px;" >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item  "> <%= link_to "Item", items_path , class: "nav-link" %>  </li>
          <li class="nav-item  "> <%= link_to "Espansioni", codice_path , class: "nav-link" %>  </li>
          <li class="nav-item  "> <%= link_to "Cards", cards_path , class: "nav-link" %>  </li>
          <li class="nav-item  "> <%= link_to "Forms", forms_path , class: "nav-link" %>  </li>
          <li class="nav-item  "> <%= link_to "Grid", grids_path , class: "nav-link" %>  </li>
          <li class="nav-item  "> <%= link_to "Tab", tabs_path , class: "nav-link" %>  </li>
          <li class="nav-item  "> <%= link_to "Widget", widgets_path , class: "nav-link" %>  </li>
          <li class="nav-item  "> <%= link_to "Collapse", collapse_path , class: "nav-link" %>  </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><%= link_to "Slide", slides_path , class: "nav-link" %></a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>


        </ul>
        <form class="">
          <% if user_signed_in? %>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 dropstart">
            <li class="nav-item dropdown"  style="padding-right:10px;">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu">
                <li> <%= link_to "Your Account", slides_path , class: "dropdown-item" %> </li>
                <li><a class="dropdown-item disabled" href="#" disabled> Your Orders</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item  disabled" href="#" disabled> Contact Us</a></li>
                <li><hr class="dropdown-divider"></li>
                <li ><%= link_to "Logout" , destroy_user_session_path, method: :delete , class: "dropdown-item text-danger" %></li>
              </ul>
            </li>
              <li class="nav-item dropdown">
              <a></a>
              </li>
            </ul>

          <% else %>
            <a><%= link_to "Login" , new_user_session_path, class: "btn btn-outline-primary mr-2" %></a>
            <a><%= link_to "Become member" , new_user_registration_path,  class: "btn btn-outline-primary mr-2"  %></a>
          <% end  %>
        </form>

      </div>
    </div>
  </nav>
</div>